body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  overflow: hidden;
}



.container {
  display: flex;
  flex-direction: row;
  height: 94vh;
  width: 100vw;
  overflow-y: auto;
}

.column1 {
  width: 63%;
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}


.column2 {
  width: 37%;
  display: flex;
  flex-direction: column;

}

.column2 img {
  max-width: 100%;
  /* Prevents images from overflowing */
  height: auto;
  /* Maintains aspect ratio */
  display: block;
  /* Removes unwanted extra space */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /* Stack elements vertically */
    height: 96vh;
    /* Allow natural height */
    overflow: visible;
    /* Ensure content isn't cut off */
  }

  .column1 {
    display: none;
  }

  .column2 {
    width: 100%;
    flex: 1;
    /* Ensures it takes up remaining space */
    max-height: 96vh;
    /* Prevents it from growing infinitely */
    overflow-y: auto;
    /* Enables scrolling */
  }
}

.header {
  display: block;
  height: 5vh;
  display: flex;
  align-items: baseline;
  justify-content: left;
  padding-top: 0px;
  padding-bottom: 0;

}

@media (max-width: 768px) {
  .header {
    display: none;
  }
}

.mobileheader {
  display: none;

}

@media (max-width: 768px) {
  .mobileheader {
    width: 100%;
    height: 5vh;
    display: flex;
    color: #fff;
    background-color: #1f1f1f;
    align-items: center;

    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  /* Adjust flex distribution */
  .site-title {
    flex: 2;
    /* Takes up 2x space */
    text-align: left;
    /* Align text to the left */
    font-size: 12px;
  }

  .about {
    flex: 1;
    /* Takes up x space */
    text-align: center;
    align-items: baseline;
    cursor: pointer;
    z-index: 1000;
  }

  .hamburger-menu {
    flex: 1;
    /* Takes up x space */
    text-align: center;
    /* Align menu to the right */
    font-size: 24px;
    cursor: pointer;
  }

  .dropdown-menu {
    display: none;
    /* Initially hidden */
    position: absolute;
    top: 40px;
    right: 30px;
    background: white;
    list-style: none;
    padding: 0;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 100;
  }

  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    color: #333;
    text-align: center;
    font-family: 'Cascadia Mono', monospace;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
  }

  .dropdown-menu li:hover {
    background: yellow;
  }

  /* Show menu when active */
  .dropdown-menu.show {
    display: block;
  }
}



.blank {
  height: 3vh;

}

@media (max-width: 768px) {
  .blank {
    display: none;
  }
}

.description {
  border-left: 1px solid black;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 0px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;

}

@media (max-width: 768px) {
  .description {
    border-top: none;
    border-left: none;
    padding-top: 10;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 10px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
}

.site-title {
  font-family: 'Cascadia Mono', monospace;
  font-size: 25px;
  font-weight: bold;
  fill: #1f1f1f;
  cursor: pointer;

}

.about {
  font-family: 'Cascadia Mono', monospace;
  /* Use custom font */
  font-size: 11px;
  /* Adjust font size as needed */
  font-weight: bold;
  /* Use normal font weight */
  fill: #6e6e6e;
  /* Set text color */

}

.article-title {
  font-family: 'Cascadia Mono', monospace;
  font-size: 20px;
  font-weight: bold;
  fill: #1f1f1f;

}

.article-subtitle {
  font-family: 'Cascadia Mono', monospace;
  font-size: 14px;
  font-weight: normal;
  fill: #1f1f1f;

}

.article-subsubtitle {
  font-family: 'Cascadia Mono', monospace;
  font-size: 13px;
  font-style: italic;
  fill: #1f1f1f;

}

.text {
  font-family: 'Cascadia Mono', monospace;
  font-size: 13px;
  font-weight: normal;
  fill: #1f1f1f;

}

svg {
  display: block;
}


footer {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}


.site-description {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  .site-description {
    font-size: 9px;
  }
}

.contact-info {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: end;
}

@media (max-width: 768px) {
  .contact-info {
    font-size: 9px;
  }
}

svg {
  display: block;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

.node {
  fill: lightblue;
  stroke: darkblue;
  stroke-width: 1.5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Visible state */
.node.visible {
  opacity: 1;
  transform: scale(1.2);
  /* Optional: subtle pop effect when revealed */
}

.maincluster {
  fill: rgb(68, 68, 68);
  stroke: black;
  cursor: pointer;
}


.cluster {
  fill: rgb(141, 141, 141);
  stroke: none;
  stroke-width: 1.2px;
  cursor: pointer;
}


.subcluster {
  fill: rgba(255, 255, 255, 0);
  stroke: rgba(0, 0, 0, 0);
  cursor: pointer;
}

/* Style for subcluster labels */
.label {
  text-anchor: middle;
  /* Center the text horizontally */
  dominant-baseline: middle;
  /* Center the text vertically */
  font-family: 'Cascadia Mono', monospace;
  /* Use custom font */
  font-size: 16px;
  /* Adjust font size as needed */
  font-weight: 50;
  /* Use normal font weight */
  fill: #1f1f1f;
  /* Set text color */
  text-transform: uppercase;
  /* Transform text to uppercase */
}


.link {
  stroke: rgba(128, 128, 128, 0.282);
  stroke-width: 1px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.link.visible {
  opacity: 1;
}



.maincluster-rect {
  fill: #ffffff;
  stroke: #000;
  stroke-width: 2px;
}

.maincluster-text {
  font-family: 'Cascadia Mono', monospace;
  font-size: 23px;
  font-weight: bold;
  fill: #000;
  text-anchor: middle;
  dominant-baseline: middle;
}


.chartbox {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .chartbox {
    display: none;
  }
}

.mobilescreenshot {
  width: 100%;
  display: none;
}

@media (max-width: 768px) {
  .mobilescreenshot {
    display: block;
    margin-top: 70px;
    overflow: hidden;
  }
}

.mobilescreenshot img {
  width: 100%;
  /* Ensure the image resizes properly */
  height: auto;
}


section {
  scroll-margin-top: 20px;
  /* Adjust this as needed */
}

.highlight {
  background-color: yellow;
  /* Highlight with yellow background */
}

.comment {
  font-style: italic;
}

.section-link {
  color: #888888;
  text-decoration: none;
}

.section-link:hover {
  color: #1f1f1f;
  text-decoration: underline;
}

figcaption {
  font-size: 11px;

  color: #555;

}

/* .subsection {
  padding-left: 40px;

} */

.rectangle {
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Initially hide the info section */
#infoSection {
  display: none;
  background-color: #fff;
  padding: 15px;
  margin-top: 15px;
}

.about {
  font-size: 14px;
  font-weight: bold;
  color: #1f1f1f;
  cursor: pointer;
  text-decoration: none;
}

.whatisit {

  font-family: 'Cascadia Mono', monospace;
  font-size: 14px;
  fill: #000;

}

#infoSectionMobile {
  display: none;

}

@media (max-width: 768px) {
  #infoSectionMobile {
    display: block;
  }
}

.comment img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  /* Optional: Adds space between icon and text */
}